/* CLIENTS */
.clients{
  @extend %section;
}
.clients__title {
    margin-bottom: 50px;
    color: var(--section-title-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  .clients_item {

    @include list;

    display: flex;
  }
  .clients__icons:not(:last-child) {
    margin-right: 30px;
  }
  .clients__svg {
    fill: currentColor;
  }
  .clients__link {
    display: flex;
  
    align-items: center;
    justify-content: center;
  
    width: 170px;
    height: 92px;
  
    border: 1px solid var(--team-social-icons);
    border-radius: 4px;
  
    color: var(--team-social-icons);
  
    transition: color var(--transition-time-hover) var(--transition-cubic),
    border-color var(--transition-time-hover) var(--transition-cubic);
  
    &:hover,
    &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    }
  }
  