/* ---MAIN---STUDIO */
/* HERO */

.hero {
    @extend %section;

    display: block;
    max-width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-footer-bg-color);
    text-align: center;

    @media screen and (min-width: 0px) and (max-width: 479px) {
        background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ),
        url(../images/hero/hero-img_mob.jpg);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                    ),
                url(../images/hero/hero-img_mob@2x.jpg);
            }
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-img_mob.jpg);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                    ), url(../images/hero/hero-img_mob@2x.jpg);
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 100%;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-img_tab.jpg);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                    ), url(../images/hero/hero-img_tab@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-img_desc.jpg);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(
                    to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                    ), url(../images/hero/hero-img_desk@2x.jpg);
        }
    }
}

  .hero-text {
  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  
    color: var(--secondary-text-color);
    font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
      font-size: 26px;
      line-height: 1.6;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.7;
    }
  }
  
  
  /* Modal window */
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-modal-bg-cl);
  
    opacity: 1;
    visibility: visible;
      pointer-events: initial;
    transition: opacity var(--transition-time-hover),visibility var(--transition-time-hover);
  }
  .backdrop.is-hidden {
    opacity: 0;
      visibility: hidden;
      pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.3);
  }
  .modal {
    
    position: absolute;
    top: 50%;
    left: 50%;
  
    min-width: 528px;
    height: 581px;
    
    padding: 40px;
  
    background-color: var(--primary-bg-color);
    border-radius: 5px;
  
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-time-hover);
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
    
  }
  
 
  
  .sign-up-form-field {
      display: flex;
      flex-direction: column;
    text-align: start;
  }
  .sign-up-label{
   
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--forms-lbl-cl);
  }
  .sign-up-strong{
    font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--section-title-text);
  }
  
  .form-wrapper {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      
  }
  
  .sign-up-form-field {
      position: relative;
  }
  .sign-up-form-field svg {
      position: absolute;
      left: 12px;
      bottom: 11px;
  }
  
  .sign-up-form-field input {
      height: 40px;
      margin: 0;
      padding: 0 10px 0 42px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      transition: border var(--transition-time-hover);
  }
  
  .sign-up-form-field textarea {
      width: 100%;
      height: 120px;
      resize: none;
      padding: 12px 16px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      transition: border var(--transition-time-hover);
  }
  
  .sign-up-form-field textarea::placeholder {
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
  }
  
  .sign-up-form-field input:hover,
  .sign-up-form-field textarea:hover,
  .sign-up-form-field input:focus,
  .sign-up-form-field textarea:focus {
      border: 1px solid var(--accent-color);
      outline: transparent;
  }
  
  .sign-up-form-field input + svg {
      transition: fill var(--transition-time-hover);
  }
  .sign-up-form-field input:hover + svg,
  .sign-up-form-field input:focus + svg {
      fill: var(--accent-color);
  }
  
  .sign-up-form-checkbox {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;
  
  }
  
  .checkbox-label {
      display: flex;
      align-items: center;
  }
  
  .checkbox-agreement {
      user-select: none;
    text-align: start;
  }
  
  .checkbox-terms {
      color: var(--accent-color);
      line-height: 1.71;
      text-decoration-line: underline;
  }
  
  .checkbox-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 15px;
      margin-right: 7px;
      outline: 2px solid var(--section-title-text);
      outline-offset: -2px;
      border-radius: 2px;
    
      transition: background-color var(--transition-time-hover), outline-color var(--transition-time-hover);
  }
  
  .checkbox-input:checked + .checkbox-icon {
      background-color: var(--accent-color);
      outline-color: var(--accent-color)
  
  }
  
